<% if @statuses %>
  <% @statuses.each do |status| %>
    <div class="status_div" id="status_<%= status.id %>">
      <table>
        <tr>
          <td class="avatar">
            <%= avatar(status.user, :size => 50) %>
          </td>
          <td>
            <p class="user_name"><%= link_if_not_history status.user %></p>
			      <p class="status_message"><%= textilizable(h status.status)%></p>
			      <div class="status_time">
              <%= timeago(status.created_at) %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
<% else %>
    <div><%= l(:l_no_statuses) %></div>
<% end %>