
<div class="status_div">
<table> <tr><td style="vertical-align: top;">
<%= avatar(user, :size => 30)%>
</td>
<td>
<b style="font-size: 11pt;"><%= user.name %></b>
(<%= link_to "history", :action => 'show_history', :user_id => user.id %>) <br />
<% if user.last_update %>
  <div class="status_time"><b>Updated at: </b><%= format_time(user.last_update.created_at) rescue "No Timestamp"  %></div>
  <%= textilizable(h user.last_update.status) %></p>
<% else %>
  <p>No update found</p>
<% end %>
</td>
</tr>
</table>
</div>
