<% html_title l(:l_historic_view) %>
<%= render "header" %>

<p>
 <%= link_to l(:l_show_feed), {:action => "show_feed", :key => User.current.rss_key , :format => 'atom' }, :class => 'atom'  %> |
  <%= link_to l(:l_live_feed), {:action => "live_feed"} %> |
  <%= link_to l(:l_show_latest), {:action => "index"} %> <br /><br />
</p>

<%= render "form" %>

<h3><%= l(:l_historic_view) %></h3>
<%= render "list" %>

