<% html_title l(:l_latest_updates)  %>
<%= render :partial => 'style' %>
<div>
  <%= link_to l(:l_show_feed), {:action => "show_feed", :key => User.current.rss_key , :format => 'atom' }, :class => 'atom'  %> |
  <%= link_to l(:l_live_feed), {:action => "live_feed"} %> |
  <%= link_to l(:l_show_latest), {:action => "index"} %>
  <br /> <br />
  <h3><%= l(:l_what_are_you_doing) %></h3>
  <% form_for @status, :url => {:action => "create"} do |f|%>
    <%= f.error_messages %>
		<%= f.text_area :status, :style => "width:300px;height:100px;" %> <br />
    <%= submit_tag l(:l_button_submit) %>
  <% end %>

  <br />
  <br />
  <h3><%= l(:l_latest_updates) %></h3>
  <% @users.each do |user| %>
    <% if !user.is_a?(AnonymousUser) && user.active? && user.last_update %>
      <%= render :partial => "show_update", :locals => {:user => user} %><br />
    <% end%>
  <% end %>
</div>
