<% html_title l(:l_latest_updates)  %>
<%= render "header" %>
<script type="text/javascript">
<!--

function updatefeed() {
	$JQuery.getScript("<%= url_for :action => "live_feed", :format => "js"  %>");
}

$JQuery(document).ready(function () {
	myInterval = setInterval("updatefeed()", 30000);
});
-->
</script>

<p>
  <%= link_to l(:l_show_feed), {:action => "show_feed", :key => User.current.rss_key , :format => 'atom' }, :class => 'atom'  %> |
  <%= link_to l(:l_live_feed), {:action => "live_feed"} %> |
  <%= link_to l(:l_show_latest), {:action => "index"} %> 
</p>

<%= render "form" %>

<p>
  <h3><%= l(:l_live_feed) %></h3>
  <div id="feed_container">
	  <%= render "list" %>
	</div> 
</p>
