<% html_title "Latest updates"  %>
<%= render "header" %>
<script type="text/javascript">
<!--

function updatefeed() {
	$JQuery.getScript("<%= url_for :action => "live_feed", :format => "js"  %>");
}

$JQuery(document).ready(function () {
	myInterval = setInterval("updatefeed()", 30000);
});
-->
</script>

<p>
  <%= link_to "RSS", {:action => "show_feed", :key => User.current.rss_key, :format => 'atom'}, :class => 'atom' %> |
	<%= link_to "Historical Order", {:action => "historic"} %> |
	<%= link_to "Latest Per User", {:action => "index"} %> 
</p>

<%= render "form" %>

<p>
  <h3>Live Updating</h3>
  <div id="feed_container">
	  <%= render "list" %>
	</div> 
</p>
