<% html_title "Update history for " + @user.name %>
<%= render :partial => 'style'%>
<% if Setting.gravatar_enabled? %>
<%= avatar @user, :size => 75%>
<br />
<br />
<% end %>
<h3>Updates for <%= @user.name %></h3>
<%= link_to "Back", :action => 'index'%>
<br />
<br />
<%if !@statuses || @statuses.empty?%>
  <b>No updates!</b>
<%else%>
  <% @statuses.each do |st| %>
    <div>
      <%= render :partial => 'status', :locals => {:status => st} %>
    </div>
  <% end %>
<%end%>
