<p>
  <label><%= l(:l_user_status_expiry) %></label>
  <%= text_field_tag 'settings[user_status_expiry]', @settings['user_status_expiry'], :size => 8 %>
  <em>(<%= l(:l_days) %>)</em>
</p>
<p>
  <label><%= l(:l_user_status_limit) %></label>
  <%= text_field_tag 'settings[user_status_limit]', @settings['user_status_limit'], :size => 8 %>
  <em>(<%= l(:l_defaults_to) %> 100)</em>
</p>
